{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <div class="container px-4 px-lg-5">
        <h1 class="mt-4">Mon Profil</h1>
        <hr class="mt-4 mb-4">
        
        <div class="card mb-4">
            <div class="card-header">
                Informations Personnelles
            </div>
            <div class="card-body">
                {% if user.profilePicture %}
                    <div class="mb-3">
                        <img src="{{ asset('uploads/profile_pictures/' ~ user.profilePicture) }}" alt="Photo de profil" class="img-fluid rounded-circle profile-picture">
                    </div>
                {% endif %}
                <p><h5>Prénom :</h5> {{ user.firstName }}</p>
                <p><h5>Nom :</h5> {{ user.lastName }}</p>
                <p><h5>Email :</h5> {{ user.email }}</p>
                <p><h5>Rôles :</h5>{% if 'ROLE_ADMIN' in user.roles %}Administrateur{% else %}Utilisateur{% endif %}</p>
                <p><h5>Date d'inscription :</h5> {{ user.createdAt|date('d/m/Y') }}</p>
                {# Ajoutez d'autres informations si nécessaire #}
            </div>
        </div>
    </div>
{% endblock %}
